<aside>
	<div class="panel radius">
		<h3>It's March!</h3>
		<p>
			Ware green and come down to the studio for our st.patrick's day celebration! We;ll be having a corned beef and cabbage platter, first come first serve!<br><br>

			On the 20th Dr, Loran albertson will be giving a talk on renewable wind enegry production on campus!<br><br>

			IGDO will be having it's first official Gamejam open to the public starting on the 21st though the 25th, The themes are Nature and Futuristic 
		</p>
	</div>

  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			The Collage of Business is looking for applicants for the Study Abroad Innovation Academy Summer Program, Contact a staff member to be givin the application!
					<a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>